# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native - let EAS prebuild generate these
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local
